*.iml
.gradle/
.kotlin/
/local.properties
/.idea/
.DS_Store
/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties
.env
.env.*
!.env.example
*.jks
*.keystore
debug.keystore
debug.keystore.base64
.build-outputs/
*.apk
*.aab
